@charset "UTF-8";

header{
	background-color: #CCFFFF;
	height:120px;
	text-align:right;
	padding: 10px 10px 10px 10px;
}

sidebar{
	float:left;
	width:20%;
	left:70px;
	height:400px;
	text-align:left;
	padding:20px 0 20px 30px;
}
	
main{
	float:right;
	width:75%;
	height:600px;
	margin:8px 0 8px;
	padding:0 20px 20px;
	border-left: 1px solid black;
}
main h2{
	background-color: gainsboro;
	padding: 10px 10px 10px 10px;
}

.red{
	float:left;
	height:120px;
	background-color: #CC9999;
	padding: 40px 40px 40px 40px;
	margin: 15px 5px 15px 5px;
}
.green{
	float:left;
	height:120px;
	background-color: #99CCCC;
	padding: 20px 40px 20px 40px;
	margin: 15px 5px 15px 5px;
}
.purple{
	float:left;
	height:120px;
	background-color: #9999CC;
	padding: 40px 40px 40px 40px;
	margin: 15px 5px 15px 5px;
}

footer{
	background-color:gainsboro;
	clear:left;
	clear:right;
	height:100px;
	padding:20px;
}

.text {
    height: 2.4em;
    width: 100%;
    box-sizing: border-box;
    padding-left:8px;
    margin:5px 0 5px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.text:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

.select {
    position: relative;
}

.select:before {
    content: "";
    position: absolute;
    top:15px;
    bottom: 0;
    right: 12px;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(135deg);
    pointer-events: none;
}

.select select {
    height: 2.4em;
    width: 100%;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0 0 15px 0;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.select select::-ms-expand {
    display: none;
}

.select select:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
.submit-button {
    display: inline-block;
    width: 100px;
    padding: 8px 0 8px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
}

.submit-button:hover {
    background-color: #000;
}

.submit-button:focus {
    outline: 0;
    background-color: #000;
    border: 2px solid rgb(33, 150, 243);
}

.table_class {
  	width: 100%;
  	height: 65vh;
}
.table_class td{
	text-align: left;
}

.select_2 {
    position: relative;
}

.select_2:before {
    content: "";
    position: absolute;
    top:15px;
    bottom: 0;
    left: 180px;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(135deg);
    pointer-events: none;
}

.select_2 select {
    height: 2.4em;
    width: 200px;
    box-sizing: border-box;
    padding: 0 8px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.select_2 select::-ms-expand {
    display: none;
}

.select_2 select:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}