<!DOCTYPE html>
<html>
<head>
	<title>メニュー</title>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<header th:replace="header"></header>
	<div th:replace="sideber"></div>
	
	<main>
		<p><h2>メニュー</h2></p>
		<div class="red">
			<p><a href="/student">学生管理</a></p>
		</div>
		<div class="green">
			<a>成績管理</a><br>
			<a href="/score/add">成績登録</a><br>
			<a href="/score">成績参照</a><br>
		</div>
		<div class="purple">
			<p><a href="/subject">科目一覧</a></p>
		</div>
	</main>
	
	<div>
		<div th:replace="footer"></div>
	</div>
</body>
</html>