<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet">
    <title>Login Page</title>
</head>
<header layout:fragment="header" class="header">
	<h1 align="center">得点管理システム</h1>
</header>
<body class="bt-light">
    <!-- 背景色 -->
    <div class="log_box">
        <!-- コンテナ中央寄せ -->
        <p><h2 class="text-center">LOGIN</h2></p>
        <div class="row justify-content-center">
            <div>
                <!-- ログインフォーム -->
                <form th:action="@{/login}" method="post" th:object="${TEACHER}" class="mb-3">
                    <div class="mb-3">
                        <label for="teacherId" class="form-label">Teacher ID:</label>
                        <input type="text" class="text" id="teacherId" name="teacherId" required autofocus />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="text" id="password" name="password" required />
                    </div>
                    <button type="submit" class="btn btn-primary w-100" value="btnSignIn">Sign In</button>
                </form>
                <a href="/signup">ユーザの新規登録はこちら</a>
            </div>
        </div>
    </div>
<div>
	<footer th:replace="footer"></footer>
</div>
</body>
</html>
