<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet">
<title>得点管理システム</title>
</head>
<body>
<header layout:fragment="header" class="header">
	<h1 align="center">得点管理システム</h1>
</header>
<main>
<p><h2></h2></p>
<label class="success">サインアップが完了しました</label><br>

<a href="/login">ログインはこちら</a>

</main>
<div>
	<footer th:replace="footer"></footer>
</div>
</body>
</html>