<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet">
<title>o-hara</title>
</head>
<body>
	<header th:replace="header"></header>
	<div th:replace="sideber"></div>
<main>
<h2>StudentList</h2>
<a href="/student/add">生徒追加</a>
<table border="2">
	<thead>
		<tr>
			<th>学生番号</th>
			<th>名前</th>
			<th>入学年度</th>
			<th>クラス</th>
			<th>学校</th>
			<th colspan="2">編集</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="student:${student}" th:if="${student.is_attend}" style="text-align:center;">
			<td th:text="${student.no}"></td>
			<td th:text="${student.name}"></td>
			<td th:text="${student.ent_year}"></td>
			<td th:text="${student.class_num}"></td>
			<td th:text="${student.school.name}"></td>
			<td><a th:href="@{/student/edit/{id}(id=${student.id})}">こうしん</a></td>
			<td><a th:href="@{/student/delete/{id}(id=${student.id})}">削除</a></td>
		</tr>
	</tbody>
</table>
</main>
<div>
	<footer th:replace="footer"></footer>
</div>
</body>
</html>