<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet">
<title>得点管理システム</title>
</head>
<body>
	<header th:replace="header"></header>
	<div th:replace="sideber"></div>
<main>

<p><h2>データ更新</h2></p>
<form th:object="${sub}" th:action="'/subject/edit/'+${id}" method="post">
	<p>科目コード：<input type="text" name="cd" class="text"  th:value="${sub.cd}" disabled></p>
	<p>科　目　名：<input type="text" name="name" class="text"  th:value="${sub.name}"></p>
	<input type="submit" value="更新">
</form>

</main>
<div>
	<footer th:replace="footer"></footer>
</div>
</body>
</html>