<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>科目編集</title>
</head>
<body>
	<header th:replace="header"></header>
<main>
	<div th:replace="sideber"></div>
<h1>データ更新</h1>
<form th:object="${sub}" th:action="'/subject/edit/'+${id}" method="post">
	<p>科目コード：<input type="text" name="cd" th:value="${sub.cd}" disabled></p>
	<p>科　目　名：<input type="text" name="name" th:value="${sub.name}"></p>
	<input type="submit" value="更新">
</form>

</main>
	<footer th:replace="footer"></footer>
</body>
</html>