<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>科目一覧</title>
</head>
<body>
	<header th:replace="header"></header>
<main>
	<div th:replace="sideber"></div>
	
<h2>科目一覧</h2>
<a href="/subject/add">科目追加</a>
<table border="2">
	<thead>
		<tr>
			<th>科目コード</th>
			<th>学校名</th>
			<th>科目名</th>
			<th colspan="2">編集</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="subject:${subject}">
			<th th:text="${subject.cd}"></th>
			<th th:text="${subject.school.name}"></th>
			<th th:text="${subject.name}"></th>
			<th><a th:href="@{/subject/edit/{id}(id=${subject.id})}">更新</a></th>
			<th><a th:href="@{/subject/delete/{id}(id=${subject.id})}">削除</a></th>
		</tr>
	</tbody>
</table>

</main>
	<footer th:replace="footer"></footer>

</body>
</html>